server:
  port: 9191
  servlet:
    context-path: /uaa
spring:
  datasource:
    driver-class-name: oracle.jdbc.OracleDriver
    url: jdbc:oracle:thin:@192.168.192.133:1521:hamed
    username: test
    password: test
  jpa:
    show-sql: true

logging:
  level:
    org.springframework.security: DEBUG
